body {
  box-sizing: border-box;
  background-color: #f1f1f1;
  user-select: none;
}

header {
  z-index: 100;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: crimson;
}
header .nav_head {
  padding-left: 10px;
  font-size: 20px;
}
header .nav_head #openbtn {
  cursor: pointer;
  display: none;
  position: relative;
  margin: 0;
  padding: 0;
}
header .nav_head #closebtn {
  cursor: pointer;
  display: none;
  position: relative;
  left: 0px;
  margin: 0;
  padding: 0;
}
header .nav_head a {
  color: white;
  padding: 20px;
  text-decoration: none;
  left: 15px;
}
header .nav_head .fa {
  padding-top: 19px;
  height: 70px;
  text-align: center;
  color: #f1f1f1;
}
header .nav_head #hidden {
  display: none;
}
header .nav_head #hiddenClick {
  display: none;
}
header .nav_head .nav_right {
  display: inline-block;
  float: right;
  align-items: baseline;
  height: 70px;
  width: 300px;
}
header .nav_head .nav_right img {
  position: relative;
  bottom: 8px;
  width: 20px;
  height: 20px;
}
header .nav_head .nav_right .dropdown-toggle {
  position: relative;
  bottom: 6px;
  font-size: 15px;
}
header .nav_head .nav_right .dropdown-toggle .famfamfam-flags.gb {
  display: inline-block;
  width: 16px;
  height: 11px;
}
header .nav_head #nav_right {
  float: right;
  align-items: baseline;
  height: 70px;
  width: 300px;
}
header .nav_head #nav_right img {
  position: relative;
  bottom: 8px;
  width: 20px;
  height: 20px;
}
header .nav_head #nav_right .dropdown-toggle {
  position: relative;
  bottom: 6px;
  font-size: 15px;
}
header .nav_head #nav_right .dropdown-toggle .famfamfam-flags.gb {
  display: inline-block;
  width: 16px;
  height: 11px;
}

.sidebar {
  z-index: 10;
  position: fixed;
  width: 300px;
  overflow: hidden;
  top: 70px;
  background-color: white;
  height: calc(100vh - 70px);
  transition: 0.5s;
}
.sidebar .user-info {
  padding: 10px;
  position: relative;
  height: 135px;
  background-image: url(user-img-background.jpg);
}
.sidebar .user-info .image img {
  height: 48px;
  width: 48px;
  border-radius: 50%;
}
.sidebar .user-info .info-container {
  color: aliceblue;
  position: relative;
  top: 20px;
}
.sidebar .user-info .info-container .email {
  display: inline;
}
.sidebar .user-info .info-container .fa {
  float: right;
}
.sidebar .menu {
  position: relative;
  outline: none;
  height: 100%;
}
.sidebar .menu ul {
  overflow: hidden;
  overflow-y: scroll;
  height: calc(100% - 245px);
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.sidebar .menu ul li {
  cursor: pointer;
  padding: 10px 13px;
}
.sidebar .menu ul li:hover a {
  color: red;
}
.sidebar .menu ul li:hover a i {
  color: red;
}
.sidebar .menu ul li a {
  text-decoration: none;
  color: #747474;
  align-items: baseline;
  position: relative;
}
.sidebar .menu ul li a i {
  margin-right: 10px;
  position: relative;
  top: 4px;
  color: #747474;
}
.sidebar .menu ul::-webkit-scrollbar {
  width: 5px;
  border-radius: 3px;
}
.sidebar .menu ul::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}
.sidebar .sidebar-footer {
  position: absolute;
  width: 300px;
  bottom: 0;
  padding: 30px;
  border-top: #f1f1f1 solid 2px;
}

.main {
  position: relative;
  top: 70px;
}
.main .content {
  display: none;
  background-color: #fff;
  margin: 20px 15px 0 315px;
}
.main .content .mainManageProject {
  margin-left: 20px;
  background-color: white;
}
.main .content .mainManageProject .header_manage {
  padding: 15px;
  border-bottom: #f1f1f1 solid 1px;
}
.main .content .mainManageProject .header_manage i {
  margin: 20px 15px 0px 0px;
}
.main .content .mainManageProject .header_manage a {
  cursor: pointer;
  float: right;
}
.main .content .mainManageProject .row .btn-danger {
  margin: 10px 0px 0px 20px;
}
.main .content .mainManageProject .row .modal-body .nav {
  border-bottom: #f1f1f1 solid 1px;
}
.main .content .mainManageProject .row .modal-body .nav .nav-item {
  width: 30%;
  text-align: center;
}
.main .content .mainManageProject .row .modal-body .tab-content .container .row #option {
  padding: 10px;
  width: 80%;
  border-radius: 5px;
  outline: none;
}
.main .content .mainManageProject .row .modal-body .tab-content .container .row .form1 {
  padding-bottom: 20px;
}
.main .content .mainManageProject .row .modal-body .tab-content .container .row .nav-pills .nav-link.active, .main .content .mainManageProject .row .modal-body .tab-content .container .row .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #f36c00;
  border: #f36c00;
}
.main .content .mainManageProject .row .modal-body .tab-content .container .row a {
  border: #f1f1f1 solid 1px;
  margin-right: 5px;
  background-color: #f1f1f1;
}
.main .content .mainManageProject .row .modal-body .tab-content .container .btn-danger {
  padding: 5px;
  margin: 0px 0px 10px 0px;
}
.main .content .mainManageProject .row .modal-body .tab-content .member {
  padding: 20px;
}
.main .content .mainManageProject .row .modal-body .tab-content .member:hover {
  background-color: #f1f1f1;
}
.main .content .mainManageProject .row .modal-body .tab-content i {
  position: relative;
  top: 8px;
}
.main .content .mainManageProject .row .set_option {
  padding: 10px 20px 10px 20px;
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 5px;
  width: 80%;
  outline: none;
}
.main .content .mainManageProject .row .set_option option {
  width: 90%;
}
.main .content .mainManageProject .row .active-purple-4 {
  position: relative;
  top: 0px;
  padding: 10px 0px 10px 10px;
  width: 80%;
}
.main .content .mainManageProject .row .active-purple-4 input {
  padding: 10px;
}
.main .content .mainManageProject .row .active-purple-4 input[type=text]:focus:not([readonly]) {
  border: 1px solid #4dd0e1;
  box-shadow: 0 0 0 1px #4dd0e1;
}
.main #manageProject {
  display: block;
}

.close {
  background-color: #f1f1f1;
}

.table {
  margin: 0px;
}

.form-check {
  display: inline-block;
  float: right;
  font-size: 30px;
}
.form-check .checkbox {
  font-size: 20px;
}

.dropdown {
  float: right;
  margin-right: 15px;
  box-shadow: 5px 5px;
}

#dropdownMenuButton {
  background-color: #fff;
  color: black;
}

#mainTable {
  margin: 0px 20px 0px 20px;
}

.acc {
  display: none;
  float: right;
}

p {
  display: none;
  float: right;
}

.hidden {
  display: none;
}

input[type=checkbox] {
  transform: scale(2);
}

@media screen and (max-width: 1180px) {
  header .nav_head .nav_right {
    display: none;
  }
  header .nav_head p {
    display: inline;
  }
  header .nav_head .hidden {
    display: inline;
  }
  header .nav_head .last {
    display: none;
  }
  header .acc {
    display: inline-block;
  }

  .sidebar .menu .sidebar-footer {
    width: 0;
  }

  .main {
    width: 100%;
  }
  .main .content {
    margin: 20px 15px 0px 15px;
    position: relative;
    left: 0px;
  }

  .mainManageProject {
    width: 100%;
    left: 20px;
  }
}
p {
  display: inline-block;
}

/*# sourceMappingURL=style.css.map */
