body {
  box-sizing: border-box;
  background-color:#f1f1f1;
  user-select: none;

}
header {
  
  z-index: 100;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: crimson;

  .nav_head {
    padding-left: 10px;
    font-size: 20px;
    #openbtn {
      cursor: pointer;
      display: none;
      position: relative;
      margin: 0;
      padding: 0;
    }
    #closebtn {
      cursor: pointer;
      display: none;
      position: relative;
      left: 0px;
      margin: 0;
      padding: 0;
    }
    a {
      color: white;
      padding: 20px;
      // z-index: 9;
      text-decoration: none;

      left: 15px;
    }
    .fa {
      padding-top: 19px;
      height: 70px;
      text-align: center;
      color: #f1f1f1;
    }
    #hidden {
      display: none;
    }
    #hiddenClick {
      display: none;
    }
    .nav_right {
      display: inline-block;
      float: right;
      align-items: baseline;
      height: 70px;
      width: 300px;
      img {
        position: relative;
        bottom: 8px;
        width: 20px;
        height: 20px;
      }
      .dropdown-toggle {
        position: relative;
        bottom: 6px;
        font-size: 15px;
        .famfamfam-flags.gb {
          display: inline-block;
          width: 16px;
          height: 11px;
        }
      }
    }
    #nav_right {
      float: right;
      align-items: baseline;
      height: 70px;
      width: 300px;
      img {
        position: relative;
        bottom: 8px;
        width: 20px;
        height: 20px;
      }
      .dropdown-toggle {
        position: relative;
        bottom: 6px;
        font-size: 15px;
        .famfamfam-flags.gb {
          display: inline-block;
          width: 16px;
          height: 11px;
        }
      }
    }
  }
}

.sidebar {
  z-index: 10;
  position: fixed;
  width: 300px;
  overflow: hidden;
  top: 70px;
  background-color: white;
  height: calc(100vh - 70px);
  transition: 0.5s;
  .user-info {
    padding: 10px;
    position: relative;
    height: 135px;
    background-image: url(user-img-background.jpg);
    .image {
      img {
        height: 48px;
        width: 48px;
        border-radius: 50%;
      }
    }
    .info-container {
      color: aliceblue;
      position: relative;
      top: 20px;

      .email {
        display: inline;
      }
      .fa {
        float: right;
      }
    }
  }
  .menu {
    position: relative;
    outline: none;
    height: 100%;
    // height: 90vh;
    ul {
      overflow: hidden;
      overflow-y: scroll;
      height: calc(100% - 245px); 
      list-style-type: none;
      margin: 0;
      padding: 0;
      li { cursor: pointer;
        padding: 10px 13px;
      }
      li:hover {
        a {
          color: red;
          i {
            color: red;
          }
        }
      }
      li a {
        text-decoration: none;
        color: #747474;
        align-items: baseline;
        position: relative;
        i {
          margin-right: 10px;
          position: relative;
          top: 4px;
          color: #747474;
        }
      }
    }
    ul::-webkit-scrollbar {
      width: 5px;
      border-radius: 3px;
    }
    ul::-webkit-scrollbar-thumb {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      border-radius: 10px;
    }
  }
  .sidebar-footer {
    position: absolute;
    width: 300px;
    bottom: 0;
    padding: 30px;
    border-top: #f1f1f1 solid 2px;
  }
}
.main {
  position: relative;
  top: 70px;
  //  width: calc(100% - 70px);
  .content {
    display: none;
    background-color: #fff;
    margin: 20px 15px 0 315px;
    .mainManageProject {
      margin-left: 20px;
    //   display: block;
    //   overflow: auto;
      background-color: white;
      // height: calc(100vh - 70px);
      .header_manage {
        padding: 15px;
        border-bottom: #f1f1f1 solid 1px;
        i {
          margin: 20px 15px 0px 0px;
        }
        a {
          cursor: pointer;
          float: right;
        }
      }
      .row 
        {
        .btn-danger {
          margin: 10px 0px 0px 20px;
               
                    }
        .modal-body
        {
            .nav{
                border-bottom: #f1f1f1 solid 1px;
                .nav-item{
                    width: 30%;
                    text-align: center;
                       }
               }
            .tab-content
                { 
                    .container{
                        .row{
                            #option{
                                padding: 10px;
                                width: 80%;
                                border-radius:5px;
                                outline: none;
                            }
                            .form1{
                                padding-bottom: 20px;
                            }
                            .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
                              color: #fff;
                              background-color: #f36c00;
                                border: #f36c00;
                          }
                              a{
                                border:#f1f1f1 solid 1px;
                                margin-right: 5px;
                                background-color: #f1f1f1;
                              }
                        }
                        .btn-danger{
                            padding: 5px;
                            margin: 0px 0px 10px 0px;
                        }

                    }
                    .member{
                      padding: 20px;
                    }
                    .member:hover{
                        background-color: #f1f1f1;
                    }
                    
                      i{
                       position: relative;
                       top: 8px;
                      
                    }
                }

        }
        .set_option {
          padding: 10px 20px 10px 20px;
          margin-top: 10px;
          margin-left: 10px;
          border-radius: 5px;
          width: 80%;
          outline: none;

          option{
            width: 90%;
          }
        }

        .active-purple-4 {
          position: relative;
          top: 0px;
          padding: 10px 0px 10px 10px;
          width: 80%;
          input {
            padding: 10px;
          }
          input[type="text"]:focus:not([readonly]) {
            border: 1px solid #4dd0e1;
            box-shadow: 0 0 0 1px #4dd0e1;
          }
        }

      }
    }
  }
  #manageProject {
    display: block;
  }
}

.close {
  background-color: #f1f1f1;
}
.table{
  margin: 0px;
}
.form-check{
 display: inline-block;
 float: right;
 font-size: 30px;
 .checkbox{
      font-size: 20px;
 }
}
.dropdown{
  float: right;
  margin-right:15px;
  box-shadow: 5px 5px ;
}
#dropdownMenuButton{
  background-color: #fff;
  color: black;
 }
 #mainTable{
   margin: 0px 20px 0px 20px;

  
 }
 .acc{
  display:none ; 
  float: right ;
 }
 p{
  display: none;
  float: right;
 }
 .hidden{
   display: none;
 }
 input[type=checkbox]{
  transform: scale(2);

 }
 
@media screen and (max-width: 1180px) {
  header {
    .nav_head {
      .nav_right{
        display: none;
      }
      p{
        display: inline;
      }
      .hidden{
        display: inline;
      }
      .last {
       display: none;
       
      }
    }
    .acc{
      display: inline-block;
    }
  }
  .sidebar {
  
    .menu {
    
      .sidebar-footer {
        width: 0;
      }
    }
  }
  .main {
    width: 100%;
    .content {
    // width: 100%;
    margin: 20px 15px 0px 15px;
      position: relative;
      left: 0px;
    }
  }
  .mainManageProject {
    width: 100%;
    // position: fixed;
    left: 20px;
  }
}
p{
  display: inline-block;
}